<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
  <parameter name = "browser" value = "chrome"/>
  <parameter name = "searchkey" value="apple Iphone 12"/>
    <classes>
      <class name="org.pages.HpSearch"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
  <parameter name = "browser" value = "firefox"/>
  <parameter name = "searchkey" value="apple Iphone 12"/>
    <classes>
      <class name="org.pages.HpSearch"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test3">
  <parameter name = "browser" value = "edge"/>
  <parameter name = "searchkey" value="apple Iphone 12"/>
    <classes>
      <class name="org.pages.HpSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
